---

---
<header id="nav">
		<a href="#page-content" class="visually-hidden-focusable">Skip to main content</a>
		<div class="top-navigation">
			<!-- START container -->
			<div class="container">
				<div class="row">
					<!-- START left hand column -->
					<div class="col-auto left-nav">
						<a aria-label="Royal Melbourne Institute of Technology University Logo" href="https://www.rmit.edu.au/">
							<div class="rmit-logo"><span class="visually-hidden">RMIT University logo</span></div>
						</a>

					</div>
					<!-- END left hand column -->
					<!-- START right hand column -->
					<div class="col">
						<ul>
							<li>
								<a href="https://learninglab.rmit.edu.au">
								Learning Lab
								<span class="visually-hidden"> homepage</span>
								</a>
							</li>
							<li>
								<a href="https://www.rmit.edu.au/library">
								Library
								<span class="visually-hidden"> homepage</span>
								</a>
							</li>
						</ul>
					</div>
					<!-- END right hand column -->
				</div>
			</div>
			<!-- END container -->
		</div>
	</header>
