---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
//import Form from '../components/Form.astro';
import Form from '../components/Form';
//import PlanDetails from '../components/PlanDetails.jsx';
import PlanDetails from '../components/PlanDetails';
import ThemeSwitcher from '../components/ThemeSwitcher.astro';
import { getCollection } from 'astro:content';
import { isOpenResults } from '../store.js';

const pageTitle = 'Assignment Planner | RMIT University';
const projectTypes = await getCollection('projectTypes');
const tasksCollection = await getCollection('tasks');

// Combine projects and tasks based on task id
// Combine projects and tasks based on task ID
const projectsWithTasks = projectTypes.map((project) => {
  const tasks = project.data.tasks
    .map((taskRef) => {
      const taskDetail = tasksCollection.find((task) => task.data.id === taskRef.id);
      return taskDetail ? { ...taskDetail, weight: taskRef.weight } : null; // Spread taskDetail data
    })
    .filter(Boolean);

  return {
    ...project.data, // Spread project data
    tasks, // Add the filtered tasks
  };
});
---

<Layout title={pageTitle}>
  <div class="row">
    <!-- START col-xl-12 -->
    <div id="page-columns" class="col-xl-12">
      <Intro />
      <Form projectsWithTasks={projectsWithTasks} client:load />
      <PlanDetails  client:load projectsWithTasks={projectsWithTasks} />
      <ThemeSwitcher />
    </div>
    <!-- END page-columns -->
  </div>
</Layout>
