---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/features/Intro.astro';
import Form from '../components/ui/Form';
import PlanDetails from '../components/features/PlanDetails';
import HeaderControls from '../components/features/HeaderControls.astro';
import { getCollection } from 'astro:content';

const pageTitle = 'Assignment Planner | RMIT University';
const projectTypes = await getCollection('projectTypes');
const tasksCollection = await getCollection('tasks');

// Combine projects and tasks, including both weight and groupWeight
const projectsWithTasks = projectTypes.map((project) => {
  const tasks = project.data.tasks
    .map((taskRef) => {
      const taskDetail = tasksCollection.find((task) => task.data.id === taskRef.id);
      if (taskDetail) {
        return {
          ...taskDetail,
          weight: taskRef.weight,
          groupWeight: taskRef.groupWeight,
        };
      }
      return null;
    })
    .filter(Boolean);

  return {
    ...project.data,
    tasks,
  };
});
---

<Layout title={pageTitle}>
  <div class="row">
    <div id="page-columns" class="col-xl-12">
      <div class="hero-and-form-section">
        <Intro />
        <div class="form-card">
          <h2>Enter your assignment details</h2>
          <Form projectsWithTasks={projectsWithTasks} client:load />
        </div>
      </div>
      <PlanDetails client:load />
      <HeaderControls />
    </div>
  </div>
</Layout>
