---
import { Picture, Image } from 'astro:assets';
import photo from '../assets/header-image.png';
---

<!-- START intro banner-->
<div class="intro">
  <div class="intro-image">
    <div class="intro-image-inner">
      <Picture src={photo} formats={['avif','webp', 'png']} alt="A calendar on a desk shows a month filled with colourful events, with some days marked with red crosses, a question mark, and an exclamation point. A mug filled with coloured pencils is on the left, and a black cat is sleeping next to the calendar. A clock in the background shows 10:10." class="object-fit-contain" />
    </div>
  </div>
  <div id="planner-details" class="intro-text">
    <h1>Assignment planner</h1>
    <p class="lead">Get a step-by-step plan with tips and advice for completing your presentations and written assignments.</p>
    <p class="lead">You can save, print, or import plans into your personal calendar.</p>
  </div>
</div>
