---

---

<!-- START calendar tab -->
<div class="tab-pane fade" id="calendar-tab-pane" role="tabpanel" aria-labelledby="calendar-tab" tabindex="0">
  <!-- START calendar -->
  <div data-v-b4adb05c="" class="cv-header">
    <h3 class="periodLabel">February 2025</h3>
    <div class="cv-header-nav">
      <button class="btn btn-sm previousPeriod">
        <span class="visually-hidden">Previous month</span>
      </button>
      <button class="btn btn-sm currentPeriod">Today</button>
      <button class="btn btn-sm nextPeriod">
        <span class="visually-hidden">Next month</span>
      </button>
    </div>
  </div>
  <div class="hscroll">
    <!-- START calendar-view-container -->
    <div data-v-b4adb05c="" id="calendar-view-container" style="height: 600px" class="calendar-container">
      <!-- START cv-wrapper -->
      <div data-v-b4adb05c="" class="theme-default calendar-view cv-wrapper locale-en locale-en-us y2025 m02 period-month periodCount-1">
        <!-- <div data-v-b4adb05c="" class="cv-header">
										<div class="cv-header-nav">
											<button class="btn btn-default previousPeriod"><</button>
											<button class="btn btn-default currentPeriod">Today</button>
											<button class="btn btn-default nextPeriod">></button>
										</div>
										<h3 class="periodLabel">February 2025</h3>
									</div> -->
        <!-- start actual calendar -->
        <div class="cv-header-days">
          <div class="cv-header-day dow0">Sun</div>
          <div class="cv-header-day dow1">Mon</div>
          <div class="cv-header-day dow2">Tue</div>
          <div class="cv-header-day dow3">Wed</div>
          <div class="cv-header-day dow4">Thu</div>
          <div class="cv-header-day dow5">Fri</div>
          <div class="cv-header-day dow6">Sat</div>
        </div>
        <!-- START cv-weeks -->
        <div class="cv-weeks">
          <!-- START week1 -->
          <div class="cv-week week1 ws2025-01-26">
            <div class="cv-day dow0 d2025-01-26 d01-26 d26 instance4 outsideOfMonth past lastInstance" id="__FPSC_ID_35_1739320604735" style="">
              <div class="cv-day-number">26</div>
            </div>
            <div class="cv-day dow1 d2025-01-27 d01-27 d27 instance4 outsideOfMonth past lastInstance" id="__FPSC_ID_34_1739320604735" style="">
              <div class="cv-day-number">27</div>
            </div>
            <div class="cv-day dow2 d2025-01-28 d01-28 d28 instance4 outsideOfMonth past lastInstance" id="__FPSC_ID_33_1739320604735" style="">
              <div class="cv-day-number">28</div>
            </div>
            <div class="cv-day dow3 d2025-01-29 d01-29 d29 instance5 outsideOfMonth past lastInstance" id="__FPSC_ID_32_1739320604735" style="">
              <div class="cv-day-number">29</div>
            </div>
            <div class="cv-day dow4 d2025-01-30 d01-30 d30 instance5 outsideOfMonth past lastInstance" id="__FPSC_ID_31_1739320604735" style="">
              <div class="cv-day-number">30</div>
            </div>
            <div class="cv-day dow5 d2025-01-31 d01-31 d31 instance5 outsideOfMonth past last lastInstance" id="__FPSC_ID_30_1739320604735" style="">
              <div class="cv-day-number">31</div>
            </div>
            <div class="cv-day dow6 d2025-02-01 d02-01 d01 instance1 past" id="__FPSC_ID_29_1739320604735" style="">
              <div class="cv-day-number">1</div>
            </div>
          </div>
          <!-- END week1 -->

          <!-- START week2 -->
          <div class="cv-week week2 ws2025-02-02">
            <div class="cv-day dow0 d2025-02-02 d02-02 d02 instance1 past" id="__FPSC_ID_28_1739320604735" style="">
              <div class="cv-day-number">2</div>
            </div>
            <div class="cv-day dow1 d2025-02-03 d02-03 d03 instance1 past" id="__FPSC_ID_27_1739320604735" style="">
              <div class="cv-day-number">3</div>
            </div>
            <div class="cv-day dow2 d2025-02-04 d02-04 d04 instance1 past" id="__FPSC_ID_26_1739320604735" style="">
              <div class="cv-day-number">4</div>
            </div>
            <div class="cv-day dow3 d2025-02-05 d02-05 d05 instance1 past" id="__FPSC_ID_25_1739320604735" style="">
              <div class="cv-day-number">5</div>
            </div>
            <div class="cv-day dow4 d2025-02-06 d02-06 d06 instance1 past" id="__FPSC_ID_24_1739320604735" style="">
              <div class="cv-day-number">6</div>
            </div>
            <div class="cv-day dow5 d2025-02-07 d02-07 d07 instance1 past" id="__FPSC_ID_23_1739320604735" style="">
              <div class="cv-day-number">7</div>
            </div>
            <div class="cv-day dow6 d2025-02-08 d02-08 d08 instance2 past" id="__FPSC_ID_22_1739320604735" style="">
              <div class="cv-day-number">8</div>
            </div>
          </div>
          <!-- END week2 -->

          <!-- START week3 -->
          <div class="cv-week week3 ws2025-02-09">
            <div class="cv-day dow0 d2025-02-09 d02-09 d09 instance2 past" id="__FPSC_ID_21_1739320604735" style="">
              <div class="cv-day-number">9</div>
            </div>
            <div class="cv-day dow1 d2025-02-10 d02-10 d10 instance2 past" id="__FPSC_ID_20_1739320604735" style="">
              <div class="cv-day-number">10</div>
            </div>
            <div class="cv-day dow2 d2025-02-11 d02-11 d11 instance2 past" id="__FPSC_ID_19_1739320604735" style="">
              <div class="cv-day-number">11</div>
            </div>
            <div class="cv-day dow3 d2025-02-12 d02-12 d12 instance2 today" id="__FPSC_ID_18_1739320604735" style="">
              <div class="cv-day-number">12</div>
            </div>
            <div class="cv-day dow4 d2025-02-13 d02-13 d13 instance2 future" id="__FPSC_ID_17_1739320604735" style="">
              <div class="cv-day-number">13</div>
            </div>
            <div class="cv-day dow5 d2025-02-14 d02-14 d14 instance2 future" id="__FPSC_ID_16_1739320604735" style="">
              <div class="cv-day-number">14</div>
            </div>
            <div class="cv-day dow6 d2025-02-15 d02-15 d15 instance3 future" id="__FPSC_ID_15_1739320604735" style="">
              <div class="cv-day-number">15</div>
            </div>
            <div draggable="false" title="Analyse the question/Brainstorm the question" class="cv-event rmit-blue offset3 span1" style="top: calc(2.5rem + 0px)">Analyse the question/Brainstorm the question</div>
            <div draggable="false" title="Start your research" class="cv-event rmit-red offset4 span3" style="top: calc(2.5rem + 0px)">Start your research</div>
          </div>
          <!-- END week3 -->

          <!-- START week4 -->
          <div class="cv-week week4 ws2025-02-16">
            <div class="cv-day dow0 d2025-02-16 d02-16 d16 instance3 future" id="__FPSC_ID_14_1739320604735" style="">
              <div class="cv-day-number">16</div>
            </div>
            <div class="cv-day dow1 d2025-02-17 d02-17 d17 instance3 future" id="__FPSC_ID_13_1739320604735" style="">
              <div class="cv-day-number">17</div>
            </div>
            <div class="cv-day dow2 d2025-02-18 d02-18 d18 instance3 future" id="__FPSC_ID_12_1739320604735" style="">
              <div class="cv-day-number">18</div>
            </div>
            <div class="cv-day dow3 d2025-02-19 d02-19 d19 instance3 future" id="__FPSC_ID_11_1739320604735" style="">
              <div class="cv-day-number">19</div>
            </div>
            <div class="cv-day dow4 d2025-02-20 d02-20 d20 instance3 future" id="__FPSC_ID_10_1739320604735" style="">
              <div class="cv-day-number">20</div>
            </div>
            <div class="cv-day dow5 d2025-02-21 d02-21 d21 instance3 future" id="__FPSC_ID_9_1739320604735" style="">
              <div class="cv-day-number">21</div>
            </div>
            <div class="cv-day dow6 d2025-02-22 d02-22 d22 instance4 future lastInstance" id="__FPSC_ID_8_1739320604735" style="">
              <div class="cv-day-number">22</div>
            </div>
            <div draggable="false" title="Plan a preliminary structure" class="cv-event rmit-purple offset0 span2" style="top: calc(2.5rem + 0px)">Plan a preliminary structure</div>
            <div draggable="false" title="First draft" class="cv-event rmit-yellow offset2 span5" style="top: calc(2.5rem + 0px)">First draft</div>
          </div>
          <!-- END week4 -->

          <!-- START week5 -->
          <div class="cv-week week5 ws2025-02-23">
            <div class="cv-day dow0 d2025-02-23 d02-23 d23 instance4 future lastInstance" id="__FPSC_ID_7_1739320604735" style="">
              <div class="cv-day-number">23</div>
            </div>
            <div class="cv-day dow1 d2025-02-24 d02-24 d24 instance4 future lastInstance" id="__FPSC_ID_6_1739320604735" style="">
              <div class="cv-day-number">24</div>
            </div>
            <div class="cv-day dow2 d2025-02-25 d02-25 d25 instance4 future lastInstance" id="__FPSC_ID_5_1739320604735" style="">
              <div class="cv-day-number">25</div>
            </div>
            <div class="cv-day dow3 d2025-02-26 d02-26 d26 instance4 future lastInstance" id="__FPSC_ID_4_1739320604735" style="">
              <div class="cv-day-number">26</div>
            </div>
            <div class="cv-day dow4 d2025-02-27 d02-27 d27 instance4 future lastInstance" id="__FPSC_ID_3_1739320604735" style="">
              <div class="cv-day-number">27</div>
            </div>
            <div class="cv-day dow5 d2025-02-28 d02-28 d28 instance4 future last lastInstance" id="__FPSC_ID_2_1739320604735" style="">
              <div class="cv-day-number">28</div>
            </div>
            <div class="cv-day dow6 d2025-03-01 d03-01 d01 instance1 outsideOfMonth future" id="__FPSC_ID_1_1739320604735" style="">
              <div class="cv-day-number">1</div>
            </div>
            <div draggable="false" title="Continue your research" class="cv-event rmit-teal offset0 span3" style="top: calc(2.5rem + 0px)">Continue your research</div>
            <div draggable="false" title="Redraft" class="cv-event rmit-navy offset3 span3" style="top: calc(2.5rem + 0px)">Redraft</div>
            <div draggable="false" title="Edit logical flow" class="cv-event rmit-orange offset6 span1" style="top: calc(2.5rem + 0px)">Edit logical flow</div>
          </div>
          <!-- END week5 -->
        </div>
        <!-- END cv-weeks -->
      </div>
      <!-- END cv-wrapper -->
    </div>
    <!-- END calendar-view-container -->
  </div>
  <!-- END calendar -->
  <div class="btn-group-tools">
    <button class="btn btn-pdf" id="btn-pdf" type="button" tabindex="0">
      Save plan to PDF<span class="visually-hidden">&nbsp; (opens new window)</span>
    </button>
    <button class="btn btn-cal" id="btn-pdf" type="button" tabindex="0"> Export plan to calendar </button>
  </div>
  <div class="btn-group-nav">
    <a href="#form-plan" class="btn btn-default" role="button" tabindex="0">Refine plan</a>
    <button class="btn btn-default" data-bs-target="#task-tab-pane" id="btn-task-view" type="button" tabindex="0"> Task view </button>
  </div>
</div>
<!-- END calendar tab -->
