---

---

<div class="tab-pane fade show active" id="task-tab-pane" role="tabpanel" aria-labelledby="task-tab" tabindex="0">
  <!-- START table -->
  <div class="hscroll">
    <table class="table-striped" id="table-steps-table">
      <thead>
        <tr>
          <th>Task</th>
          <th>Complete by</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <h3>1. Analyse the question/Brainstorm the question</h3>
            <ul>
              <li>
                Before you do anything else, make sure you
                <a href="/assessments/getting-started-with-assignments/researching-your-assignment/">understand the task</a>!
              </li>
              <li>
                Jot down some preliminary ideas in a
                <a href="/university-essentials/study-essentials/mind-mapping/">mind map</a>.
              </li>
              <li>
                Be clear what
                <a href="/assessments/">type of assignment</a>
                you're doing.
              </li>
            </ul>
            <p>
              For more tips, read through the
              <a href="/assessments/getting-started-with-assignments/">Getting Started with assignments</a>
              section.
            </p>
          </td>
          <td>Tuesday February 25</td>
          <td>0.5 days</td>
        </tr>
        <tr>
          <td>
            <h3>2. Start your research</h3>
            <ul>
              <li>
                Develop a strategy for
                <a href="/assessments/getting-started-with-assignments/researching-your-assignment/">researching your assignment</a>.
              </li>
              <li>
                Find relevant databases in your
                <a href="http://rmit.libguides.com/">subject guide</a>.
              </li>
              <li>
                If you need help,
                <a href="https://www.rmit.edu.au/library/about-and-contacts/ask-the-library">Ask the Library</a>.
              </li>
              <li>
                <a href="/university-essentials/study-essentials/note-taking/">Take notes</a>
                as you read, including page numbers for
                <a href="/referencing/">referencing</a>.
              </li>
              <li>Check your Course Guide for the required referencing style.</li>
            </ul>
            <p>
              For more tips, follow our tips for
              <a href="/assessments/getting-started-with-assignments/researching-your-assignment/">researching your assignment</a>.
            </p>
          </td>
          <td>Thursday February 27</td>
          <td>2 days</td>
        </tr>
        <tr>
          <td>
            <h3>3. Plan a preliminary structure</h3>
            <ul>
              <li>
                Follow the appropriate structure for your
                <a href="/assessments/">assignment type</a>.
              </li>
            </ul>
          </td>
          <td>Saturday March 1</td>
          <td>2</td>
        </tr>
        <tr>
          <td>
            <h3>4. First draft</h3>
            <ul>
              <li>
                <a href="/referencing/paraphrasing/">Paraphrase</a>
                and
                <a href="/referencing/using-other-peoples-ideas/">reference</a>
                what you use from other texts.
                <a href="/university-essentials/acting-academic-integrity/plagiarism/">Don't plagiarise</a>.
              </li>
              <li>
                <a href="https://www.rmit.edu.au/students/support-services/study-support/consultations">Get feedback on your draft</a>.
              </li>
              <li>
                Use your detailed plan to
                <a href="/writing-fundamentals/writing-paragraphs/">write complete paragraphs</a>
                in an
                <a href="/writing-fundamentals/academic-style/">academic style</a>.
              </li>
            </ul>
          </td>
          <td>Tuesday March 4</td>
          <td>3 days</td>
        </tr>
        <tr>
          <td>
            <h3>5. Continue your research</h3>
            <ul>
              <li>
                Make sure you have
                <a href="/assessments/getting-started-with-assignments/choose-valid-sources/do-i-have-enough-information/">enough ideas</a>
                and evidence from
                <a href="/assessments/getting-started-with-assignments/choose-valid-sources/">valid sources</a>.
              </li>
              <li>
                Have you used the advanced functions in Google and
                <a href="https://scholar.google.com.au/">Google Scholar</a>?
              </li>
              <li>
                Find 'peer reviewed' material with
                <a href="/assessments/getting-started-with-assignments/find-information/librarysearch/">LibrarySearch</a>
                and individual
                <a href="/assessments/getting-started-with-assignments/find-information/electronic-and-av-resources/">databases</a>.
              </li>
              <li>Adjust your plan and draft to reflect new ideas from your research.</li>
            </ul>
            <p>
              For more tips, check out the
              <a href="/assessments/getting-started-with-assignments/researching-your-assignment/">Researching your assignment</a>
              tutorial.
            </p>
          </td>
          <td>Thursday March 6</td>
          <td>2 days</td>
        </tr>
        <tr>
          <td>
            <h3>6. Redraft</h3>
            <ul>
              <li>Revise your draft, paying attention to structure and content.</li>
              <li>
                Make sure you
                <a href="/writing-fundamentals/academic-style/synthesising/">synthesise information</a>
                from different sources.
              </li>
              <li>
                Use a
                <a href="/assessments/reports/report-checklist/">report</a>
                or
                <a href="/assessments/essays/review/">essay checklist</a>
                to revise your work.
              </li>
            </ul>
          </td>
          <td>Saturday March 8</td>
          <td>2 days</td>
        </tr>
        <tr>
          <td>
            <h3>7. Edit logical flow</h3>
            <ul>
              <li>
                <a href="/assessments/essays/review/">Edit</a> for completeness, structure and meaning.
              </li>
              <li>
                Check your
                <a href="/writing-fundamentals/writing-paragraphs/">paragraphs</a>
                are well-formed and
                <a href="/writing-fundamentals/academic-style/be-cohesive/">flow</a>.
              </li>
              <li>
                Have you used an
                <a href="/writing-fundamentals/academic-style/">academic style</a>
                in your writing?
              </li>
            </ul>
          </td>
          <td>Sunday March 9</td>
          <td>1 day</td>
        </tr>
        <tr>
          <td>
            <h3>8. Proofread and format</h3>
            <ul>
              <li>
                <a href="http://www.lib.rmit.edu.au/easy-cite/">Check your referencing style is correct</a>
                with Easy Cite.
              </li>
              <li>Use a spell checker and grammar checker.</li>
              <li>Check your punctuation.</li>
              <li>Check the formatting and submission requirements for your School.</li>
            </ul>
          </td>
          <td>Monday March 10</td>
          <td>2 days</td>
        </tr>
        <tr>
          <td>
            <h3>9. Submit</h3>
            <ul>
              <li>Don't leave it to the last minute - aim to submit your work 2 hours before the deadline to avoid any last-minute problems.</li>
            </ul>
          </td>
          <td>Wednesday March 12</td>
          <td>0.5 days</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- END table -->
  <div class="btn-group-tools">
    <button class="btn btn-pdf" id="btn-pdf" type="button" tabindex="0">
      Save plan to PDF<span class="visually-hidden">&nbsp; (opens new window)</span>
    </button>
    <button class="btn btn-cal" id="btn-pdf" type="button" tabindex="0"> Export plan to calendar </button>
  </div>
  <div class="btn-group-nav">
    <a href="#form-plan" class="btn btn-default" role="button" tabindex="0">Refine plan</a>
    <button class="btn btn-default" data-bs-target="#calendar-tab-pane" id="btn-cal-view" type="button" tabindex="0"> Calendar view </button>
  </div>
</div>
