#exportModal {
  .modal-content .accordion-item {
    border-bottom: 0;
  }

  .modal-footer {
    justify-content: flex-start;
    gap: 1.5rem; // 24px
    padding-left: 0;
    padding-right: 0;

    .btn {
      margin: 0;
    }
  }
}

@include color-mode(dark) {
  #exportModal {
    .modal-footer .btn-secondary {
      color: $body-color-dark;
      background-color: transparent;
      border: 1px solid rgba($body-color-dark, 0.4);

      &:hover,
      &:focus {
        background-color: rgba($body-color-dark, 0.12);
        color: $body-color-dark;
      }
    }
  }
}
