---
const currentYear = new Date().getFullYear();
---

<span id="currentYear">{currentYear}</span>

<script>
  const currentYearElement = document.getElementById('currentYear');
  if (currentYearElement) {
    const currentYear = new Date().getFullYear();
    currentYearElement.textContent = currentYear.toString();
  }
</script>
