---
import { Image } from 'astro:assets';
import photo from '../../assets/header-image.png';
---

<!-- START intro banner-->
<div class="intro">
  <div class="intro-image">
    <div class="intro-image-inner">
      <Image loading="eager" src={photo} alt="Desk calendar with symbols; mug with pencils and sleeping cat. Clock shows 10:10." class="object-fit-contain" />
    </div>
  </div>
  <div id="planner-details" class="intro-text">
    <h1>Assignment planner</h1>
    <p class="lead">Get a step-by-step plan with tips and advice for completing your presentations and written assignments.</p>
    <p class="lead">You can save, print, or import plans into your personal calendar.</p>
  </div>
</div>
